.sign-in-form {
    width: 150px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: aliceblue;
    margin: 0 auto;
    padding: 10px;
}

.sign-in-form input {
    margin: 8px 0;
}


.flex-column {
    display: flex;
    flex-direction: column;
}
