/*
ДЗ: зробити картку юзера з будь-яким персонажем
На лицевому боці - картинка с персонажем (фото) і його ім'я (або нікнейм)
При наведенні на картку бачимо інший бік, що містить опис персонажа (хоча би 2-3 рядки тексту). 
Зміна боків має відбуватись плавно.

*/


.wrapper {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}

.front-side {
    width: 100%;

}

.back-side {
    width: 100%;
    padding: 20px;
    color: rgb(125, 0, 0);
    background-color: rgba(255, 255, 255, 0.333);
    transition: all 1s ease;
    position: absolute;
   bottom: -100%;
}

.img {
    width: 100%;
}

.wrapper:hover > .back-side {
   bottom: 0;
    left: 0;
}