@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');     
@font-face {
    font-family: 'Ms Madi';
    src: url("./fonts/Ms_Madi/MsMadi-Regular.ttf") format("truetype");
   }

:root {
    font-size: 20px;
}


article {
    font-size: 20px;
}


h2 { 
    /* font-family: 'Ms Madi', cursive; */
    font-size: 1.5em;
}

p {
    font-size: 1.5rem; 
}

span {
    font-size: 1.5rem;
}

ul {
    font-size: 0;
}

li {
    display: inline-block;
    background-color: blueviolet;
    font-size: 1.5rem;
}