.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 96vh repeat(3, 100px);
     gap: 10px;
}


.item {
    border: 2px solid black;
    background-color: coral;
}
.one {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.two {
    grid-column: 1 / 4;
}

.three {
    grid-column: 1 / 4;
}

.four {


}

.five {

}

.six {

}
